{% extends "base.html" %}

{% block main %}
    {% if articles_page.number == 1 %}
        <section id="about">
            <p>Sacramento Linux User Group is a computer users serving Sacramento and surrounding areas
	    including the Republic of Davis.
           We strive to promote <a href="https://www.linuxfoundation.org/">Linux</a>, <a href="https://www.fsf.org/">Free Software</a>, <a href="https://opensource.org/">Open Source</a>, open standards, and to generally have a good time by hosting social events that educate, allow members to share ideas and knowledge and to build friendships.</p>
           <p>We hold regular meetings on the third Tuesday with usually a social gathering.
           Meetings and membership are free and open to the public.
	   Please sign up for the <a href="https://bigbrie.com/mailman3/hyperkitty/list/lug-nuts@bigbrie.com/">Lug Nuts mailing list</a></p>
        </section>
    {% endif %}

    {% include "include/article_list.html" %}
{% endblock main %}
